.demo1{
    border: 10px solid royalblue;
    color:#ffff00;
    text-align: center;
    background-color: royalblue;
    border-radius: 10px;
    margin: 50px;
    margin-top: 150px;
}
.demo3{
    color:yellow;
}
.demo4{
    color:yellow;
}